default:
    extensions:
        Behat\Symfony2Extension:
            kernel:
                class: TestKernel
                path: tests/app/TestKernel.php

    suites:
        cli_customers_also_bought:
            contexts:
                - FeatureContext:
                    kernel: '@kernel'

            filters:
                tags: "@customers_also_bought && @cli"
