default:
    extensions:
        Behat\Symfony2Extension:
            kernel:
                class: TestKernel
                path: tests/app/TestKernel.php

    suites:
        cli_order_association:
            contexts:
                - FeatureContext:
                    kernel: '@kernel'

            filters:
                tags: "@order_association && @cli"
